page-login {
    .textcenter{
        text-align: center;
        color: black;
    }
    .listlogin{
        padding-top: 40%;
        background-color:#44bfa8;
        margin: 5%;
    }
    .listdivlogin{
        padding-top: 40%;
    }
    .item.item-input {
        background-color: transparent;
    }

    img {
        max-width: 100%;
    }

    .main{
        position: absolute;
        top: 40%;
        left:27%;
        padding-top: 30%;
    }
    h1{
        font-size: 50px;
    }
    ion-input{
        background-color: #F3F3F3;
        border: 1px solid #cecece;
        border-radius: 5px 5px 5px 5px;
    }
}
