page-rpt-pending {
    ion-searchbar{    
          
        .searchbar-input-container{   
                     
            .searchbar-input {
                border-radius: 20px;
               // border: 0 !important;
                width: 100%;
                border: 1.5px solid #3a687a;
                box-shadow: none !important;
            }
        }
    }
    .font-primary{
        color: #3a687a;  
    }
    ion-searchbar{    
          
        .searchbar-input-container{   
                     
            .searchbar-input {
                border-radius: 20px;
               // border: 0 !important;
                width: 100%;
                border: 1.5px solid #3a687a;
                box-shadow: none !important;
            }
        }
    }
}
