<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      เพิ่มใบสั่งขาย
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="SaveSaleOrder(oCustomer_name, oDate, oVat, oDiscount1, oDateSale, oRemark, oType, oPayTerm, oUserId)">
        <ion-icon name="md-checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="backgound-image">
 
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-input type="text" [(ngModel)]="oCustomer_name" placeholder="ลูกค้า" readonly></ion-input>
        
      </ion-col>
      <ion-col col-2>
        <button ion-button clear (click)="doCustomerModal()">
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item no-lines >
          <ion-select [(ngModel)]="oType" interface="action-sheet">
            <ion-option value="ADHOC" [selected]="true">ADHOC</ion-option>
            <ion-option value="RESERVE">RESERVE</ion-option>
            <ion-option value="QUOTATION">QUOTATION</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item no-lines>
          <ion-label>Date</ion-label>
          <ion-datetime [(ngModel)]="oDate" display-format="MM/YYYY" picker-format="MMMM YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item no-lines>
        <ion-select [(ngModel)]="oPayTerm" placeholder="กรุณาเลือก การชำระเงินหลังวางบิล" interface="action-sheet" style="width: 100%">
          <ion-option *ngFor = "let item of data_productparampayterm" value="{{item.param_code}}">{{item.param_desc}}</ion-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-label>Due Date</ion-label>
          <ion-datetime [(ngModel)]="oDateSale" display-format="MM/YYYY" picker-format="MMMM YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item no-lines>
              <ion-select   placeholder="กรุณาเลือก VAT"[(ngModel)]="oVat" interface="action-sheet" style="width: 100%">
                <ion-option *ngFor = "let item of data_productVat"  value="{{item.vat_id}}">{{item.description}}</ion-option>
              </ion-select>
            </ion-item>
      </ion-col>
      <!-- <ion-col>
          <ion-input type="text" [(ngModel)]="oDiscount1" placeholder="ส่วนลด" (ionChange)="doChangeTextDiscount1(oDiscount1)"></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-checkbox [(ngModel)]="oCheckDiscount1" style="padding-top: 40%" (ionChange)="doChangeDiscount1(oCheckDiscount1)"></ion-checkbox> %    
      </ion-col> -->
    </ion-row>
    <!-- <ion-row hidden>
      <ion-col>
        <ion-item>
          <ion-select [(ngModel)]="oVat2" interface="action-sheet" (ionChange)="doChangeTypeVat2(oVat2)">
            <ion-option value="NON"></ion-option>
            <ion-option value="NO VAT">NO VAT</ion-option>
            <ion-option value="VAT 7%" selected="true">VAT 7%</ion-option>
            <ion-option value="อื่นๆ">อื่นๆ</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="text" [(ngModel)]="oDiscount2" placeholder="ส่วนลด" (ionChange)="doChangeTextDiscount2(oDiscount2)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-checkbox [(ngModel)]="oCheckDiscount2" style="padding-top: 40%" (ionChange)="doChangeDiscount2(oCheckDiscount2)"></ion-checkbox> %    
      </ion-col>
    </ion-row> -->
    <!-- <ion-row hidden>
      <ion-col>
        <ion-item>
          <ion-select [(ngModel)]="oVat3" interface="action-sheet" (ionChange)="doChangeTypeVat3(oVat3)">
            <ion-option value="NON"></ion-option>
            <ion-option value="NO VAT">NO VAT</ion-option>
            <ion-option value="VAT 7%" selected="true">VAT 7%</ion-option>
            <ion-option value="อื่นๆ">อื่นๆ</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="text" [(ngModel)]="oDiscount3" placeholder="ส่วนลด" (ionChange)="doChangeTextDiscount3(oDiscount3)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-checkbox [(ngModel)]="oCheckDiscount3" style="padding-top: 40%" (ionChange)="doChangeDiscount3(oCheckDiscount3)"></ion-checkbox> %    
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-auto>
        <button ion-button class="button-circle" (click)="doProductModal()">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-label>เพิ่มสินค้า</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-card *ngFor="let item of arrayItem; let i = index">
      <ion-row>
        <p>{{i+1}}. {{item[0]}} {{item[2]}} {{item[3]}}</p>
        <!-- <p></p> -->
      </ion-row>
    </ion-card>
  </ion-grid>
  <ion-grid>
    <!-- <ion-row>
      <ion-col>
        <ion-label>ส่วนลด {{oVat1}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label *ngIf="oCheckDiscount1 == false" text-right>{{oDiscount1}}B</ion-label>
        <ion-label *ngIf="oCheckDiscount1 == true" text-right>{{oDiscount1}}%</ion-label>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row hidden>
      <ion-col>
        <ion-label>ส่วนลด2 {{oVat2}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label *ngIf="oCheckDiscount2 == false" text-right>{{oDiscount2}}B</ion-label>
        <ion-label *ngIf="oCheckDiscount2 == true" text-right>{{oDiscount2}}%</ion-label>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row hidden>
      <ion-col>
        <ion-label>ส่วนลด3 {{oVat3}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label *ngIf="oCheckDiscount3 == false" text-right>{{oDiscount3}}B</ion-label>
        <ion-label *ngIf="oCheckDiscount3 == true" text-right>{{oDiscount3}}%</ion-label>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-label>ภาษีมูลค่าเพิ่ม</ion-label>
      </ion-col>
      <ion-col>
        <ion-label text-right>VAT 7%</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>ยอดรวม</ion-label>
      </ion-col>
      <ion-col>
        <ion-label text-right>{{oTotalPrice}} B</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
          <ion-input type="text" [(ngModel)]="oRemark" placeholder="บันทึก" text-left></ion-input>
        
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col>
        
          <ion-label text-right>Create By</ion-label>
        
      </ion-col>

      <ion-col>
        
          <ion-input type="text" [(ngModel)]="oUserId"  readonly text-center></ion-input>
       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>