page-addsaleorder {
    ion-select{
        max-width: 100% !important;
    }
    .button-circle{
        display:block;
        border-radius: 50%;
    }
    ion-input{
        background-color: #F3F3F3;
        border: 1px solid #cecece;
        border-radius: 5px 5px 5px 5px;
    }
}
