<ion-content class="mymodal">
  <ion-navbar color="primary">
    <ion-row>
      <h3 style="color: white">{{oItem_no}}</h3>
    </ion-row>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-grid>
    <ion-row>
      <p>{{oDescription}}</p>
    </ion-row>
    <ion-row>
      <p>Available : {{oAvailable}} {{oUomQty}}</p>
    </ion-row>
    <ion-row>
      <p>Free : {{oFree}} {{oUomQty}}</p>
    </ion-row>
    <br/>
    <ion-row>
      <p>Last Sale : {{oPerCount}} {{oUomSale}}</p>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col col-3>
        เขตลูกค้า
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="oZone" interface="action-sheet">
          <!-- <ion-option>test</ion-option> -->
          <ion-option *ngFor = "let item of data_zone" value="{{item.Zone}}">{{item.Description}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="number" [(ngModel)]="oQty" placeholder="จำนวน" #focusQty></ion-input>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="oUOM" interface="action-sheet">
          <ion-option *ngFor = "let item of data_productuom" value="{{item.item_packing}}">{{item.item_packing}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select [(ngModel)]="oParamCode" interface="action-sheet">        
          <ion-option *ngFor = "let item of data_productparam" value="{{item.param_code}}">{{item.param_code}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="oUnit" interface="action-sheet">
          <ion-option value="0" selected = "true">โปรดเลือกประเภทสินค้าที่ใช้ในการจัดส่ง</ion-option>
          <ion-option value="{{oPrice1}}">ราคาปกติ (ต่อชุด {{oPrice1}} ฿)</ion-option>
          <ion-option value="{{oPrice2}}" >ราคา + ประกอบ (ต่อชุด {{oPrice2}} ฿)</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-input type="number" [(ngModel)]="oDiscount" placeholder="ส่วนลด"></ion-input>
      </ion-col>
      <ion-col>
        <ion-checkbox [(ngModel)]="oCheckDiscount" style="padding-top: 10%"></ion-checkbox> % 
      </ion-col>
    </ion-row> -->
    
    <ion-row>
      <ion-input type="text" [(ngModel)]="oRemark" placeholder="บันทึก"></ion-input>
    </ion-row>
    <ion-row>
      <ion-col col-7>
        <button ion-button clear (click)="doClear()">เคลียร์ข้อมูล</button>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear (click)="dismiss()">ยกเลิก</button>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear (click)="doConfirm(oItem_no, oZone, oQty, oUOM, oParamCode, oPrice, oDiscount, oRemark, oUnit)">ตกลง</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
