page-product-header {
    .textcenter{
        text-align: center;
    }
    .div-border {
        border: 2px solid rgb(255, 156, 44);
        border-radius: 5px;
    }
    ion-select{
        max-width: 100% !important;
    }
    .card-md {
        margin: 10px;
        border-radius: 6px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #ffffff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-content-md {
        padding: 13px 16px;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .card-header-md {
    font-size: 1.8rem;
    color: #222;
    padding: 16px;
    }
    ion-input{
        background-color: #F3F3F3;
        border: 1px solid #cecece;
        border-radius: 5px 5px 5px 5px;
    }
    .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: none; 
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
