page-saleorderdetails {
    .card-headlist{
        background: #44bfa8;
    }
    .card-list{
        background: #44bfa8;
    }
    .font-white{
        color: white;
    }
    .font-orange{
        color: #44bfa8;
    }
    .card-md {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
}
