page-saleorderdetails {
    .card-headlist{
        background: #3a687a;
    }
    .card-list{
        background: #3a687a;
    }
    .font-white{
        color: white;
    }
    .font-orange{
        color: #3a687a;
    }
    .card-md {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .label{
        color: rgb(70, 70, 70);    
    }
    
    .button-circle{
        width: 35px;
        height: 35px;
        margin-left: 6px;
        border-radius: 3px;

}
}