page-saleorderdetails {
    .card-headlist{
        background: #ff7b00;
    }
    .card-list{
        background: #ff5100;
    }
    .font-white{
        color: white;
    }
    .font-orange{
        color: #ff7b00;
    }
    .card-md {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
