<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      รายละเอียดใบสั่งขาย
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="backgound-image">
  <ion-card>
    <ion-card-header>
      <b class="font-orange">{{oOrder_no}}</b>
      <p>{{date_time}}</p>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-2>
          <p>ลูกค้า</p>
        </ion-col>
        <ion-col>
          <p>{{oCustomer}} {{oCustomer_name}}</p>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-2>
          <p>ชื่อขนส่ง</p>
        </ion-col>
        <ion-col>
          <p>เฟริส์เอ็กซเพรส</p>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col col-2>
          <p>ที่อยู่</p>
        </ion-col>
        <ion-col>
          <p>{{oAddress}} {{oDlvr_code}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <p>บันทึก</p>
        </ion-col>
        <ion-col>
          <p>{{oRemark}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-headlist">
    <ion-row>
     
      <ion-col class="font-white">         
        รายการสินค้า
      </ion-col>
      
    </ion-row>
  </ion-card>
  <ion-card class="card-list">
    <ion-row>
      <ion-col class="font-white"text-center>
        ลำดับ
      </ion-col>
      <ion-col class="font-white"text-center col-3>
        สินค้า
      </ion-col>
      <ion-col class="font-white"text-center>
        จำนวน
      </ion-col>
      <ion-col class="font-white"text-center>
        หน่วย
      </ion-col>
      <ion-col [hidden]='hideMe2' col-1 class="font-white" *ngIf="data_item.status == 'SAVED'"> 
      </ion-col>
      <ion-col [hidden]='hideMe2' col-1 class="font-white" *ngIf="data_item.status == 'SAVED'">
      </ion-col>
    
    </ion-row>
    <ion-row *ngFor="let item of data_saleorderdetail; let i = index" >
      <ion-col class="font-white" text-center *ngIf="item.qty_picked > 0">
        {{i+1}}  
      </ion-col>
      <ion-col class="font-red" text-center *ngIf="item.qty_picked <= 0">
        {{i+1}}  
      </ion-col>
      <ion-col class="font-white" text-center *ngIf="item.qty_picked > 0" col-3>
        {{item.item_no}}
      </ion-col>
      <ion-col class="font-red" text-center *ngIf="item.qty_picked <= 0" col-3>
        {{item.item_no}}
      </ion-col>
      <ion-col class="font-white"text-center *ngIf="item.qty_picked > 0">
        {{item.qty}}
      </ion-col>
      <ion-col class="font-red"text-center *ngIf="item.qty_picked <= 0">
        {{item.qty}}
      </ion-col>
      <ion-col class="font-white"text-center *ngIf="item.qty_picked > 0">
        {{item.uom}}
      </ion-col>
      <ion-col class="font-red"text-center *ngIf="item.qty_picked <= 0">
        {{item.uom}}
      </ion-col>
      <ion-col col-1 class="font-white" (click)="doEditProduct(item)" *ngIf="data_item.status == 'SAVED'">
        <ion-icon name="md-create"></ion-icon>
      </ion-col>
      <ion-col col-1 class="font-white"(click)="doDelete(item)" *ngIf="data_item.status == 'SAVED'">
        <ion-icon name="md-trash"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row [hidden]='hideMe'>   
        &nbsp;
    </ion-row>
    <ion-row [hidden]='hideMe'>
      <ion-col class="font-white" text-center>
       ไม่พบรายการสินค้า
      </ion-col>
    </ion-row>
    
  </ion-card>
  
  <ion-row *ngIf="data_item.status == 'SAVED'">
      <ion-col col-auto>
        <button ion-button class="button-circle" (click)="doProductModal()">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-label>เพิ่มสินค้า</ion-label>
      </ion-col>
    </ion-row>
  <!---
  <ion-card>
    <ion-row>
      <ion-col>
        <b>ภาษีมูลค่าเพิ่ม</b>
      </ion-col>
      <ion-col col-2>
        <b>{{oVat}}%</b>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        <b>ส่วนลด</b>
      </ion-col>
      <ion-col col-2>
        <b>{{oDiscountRate}}</b>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <b class="font-orange">{{oAmount}}</b>
        </ion-card-header>
        <ion-card-content>
          ยอดรวม
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <b class="font-orange">{{oNetAmount}}</b>
        </ion-card-header>
        <ion-card-content>
          ราคาสุทธิ
        </ion-card-content>
      </ion-card>
    
    </ion-col>
  </ion-row>
-->
</ion-content>
