page-rpt-stock {
    .textcenter{
        text-align: center;
    }
    ion-select{
        max-width: 100% !important;
    }
    .div-border {
        border: 2px solid rgb(255, 156, 44);
        border-radius: 5px;
    }
}
