page-rpt-saleorder-detail {
    .card-headlist{
        background: #3a687a;
    }
    .card-list{
        background: #3a687a;
    }
    .font-white{
        color: white;
    }
    .font-orange{
        color: #3a687a;
    }
    .card-md {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
